[Unit]
Description=File DB
After=network.target mysql.service
Requires=mysql.service

[Service]
User=filedb
Group=filedb
ExecStart=/usr/local/bin/filedbd

[Install]
WantedBy=multi-user.target
